/* Fonts
------------------------------------------------------------------------------- */
@font-face {
  font-family: 'KautivaBlack';
  src: url('@/assets/fonts/KautivaBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KautivaCyrillicBlack';
  src: url('@/assets/fonts/KautivaCyrillicBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
