/* Variables
------------------------------------------------------------------------------- */
$kautivaBlackFont: 'KautivaBlack';
$kautivaCyrillicBlackFont: 'KautivaCyrillicBlack';

$primary-white: #ffffff;
$primary-black: #000000;
$primary-red: #ff0000;